<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="utf-8" />
       <title>CO2 vs temperature</title>

       <!-- import plugin script -->
       <script src='static/Chart.min.js'></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>

        <h1>CO2 vs temperature</h1>
        <!-- bar chart canvas element -->
        <canvas id="chart1" width="600" height="400"></canvas>
        <canvas id="chart2" width="600" height="400"></canvas>
        <div class="container-fluid bg-2 text-center">
            <form action="/" method="GET">
                <label for="sel1">From year:</label>
                <input type="text" name="fromYear" value="1850">
                <label for="sel1">To year:</label>
                <input type="text" name="toYear" value="2010">
                Month:
                <div class="form-group">
                    <label for="sel1">Select list:</label>
                        <select class="form-control" name="month">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                  </select>
                </div>
                <input type="submit" class="btn btn-default btn-lg" value="Submit">
            </form>
        </div>
        <script>
        // bar chart data
        var barData = {
        labels : [{% for item in labels %}
                      "{{item}}",
                  {% endfor %}],
        datasets : [
          {
                fillColor: "rgba(151,187,205,0)",
                strokeColor: "rgba(151,187,205,0)",
                pointColor: "rgba(151,187,205,0)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,0)",
                bezierCurve : false,
                data : [{% for item in values %}
                          {{item}},
                        {% endfor %}]
          }, {
                fillColor: "rgba(0,187,205,0.2)",
                strokeColor: "rgba(0,187,205,1)",
                pointColor: "rgba(0,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                bezierCurve : false,
                data : [{% for item in values2 %}
                          {{item}},
                        {% endfor %}]
          }]
        }

        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;

        // get bar chart canvas
        var mychart1 = document.getElementById("chart1").getContext("2d");
        var mychart2 = document.getElementById("chart2").getContext("2d");

        steps = 5
        max = 25
        // draw bar chart
        var LineChartDemo = new Chart(mychart1).Line(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: -5,
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            barShowStroke : true,
            scaleShowLabels: true,
            bezierCurve: false,

        });

        steps = 10
        max = 10000

        var barData = {
        labels : [{% for item in labels %}
                      "{{item}}",
                  {% endfor %}],
        datasets : [
          {
                fillColor: "rgba(0,187,205,0.2)",
                strokeColor: "rgba(0,187,205,1)",
                pointColor: "rgba(0,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                bezierCurve : false,
                data : [{% for item in values %}
                          {{item}},
                        {% endfor %}]
          }, {
                fillColor: "rgba(151,187,205,0)",
                strokeColor: "rgba(151,187,205,0)",
                pointColor: "rgba(151,187,205,0)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,0)",
                bezierCurve : false,
                data : [{% for item in values2 %}
                          {{item}},
                        {% endfor %}]
          }]
        }
        var LineChartDemo = new Chart(mychart2).Line(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            barShowStroke : true,
            scaleShowLabels: true,
            bezierCurve: false,

        });
        </script>

    </body>
</html>